.login {
  width: 100vw;
  height: 100vh;
  background: url(./bg.svg) no-repeat center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header{
  margin: 0 0 50px;
  text-align: center;
  font-size: 26px;

}
.login-box{
  width: 420px;
}
