.dashboard {
  min-height: 100%;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #1890ff;
  }
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}


.sider {
  min-height: 100vh;
  position: fixed;
  top: 0;
}

.breadcrumb {
  margin-top: 16px;
  padding: 0 16px;
}

.menu {
  color: #fff;
}


.header,
.footer,
.main {
  background: #fff;
}

.footer {
  text-align: center;
}

.header{
  display: flex;
  justify-content: space-between;

  .user{
    margin-right: 24px;
    display: flex;
    align-items: center;
  }

  .notification{
    width: 60px;
    text-align: center;
    cursor: pointer;
    &:hover{
      background: #00000005;
    }
  }

  .avatar{
    cursor: pointer;
  }
}
